@font-face {
    font-family: 'comfortaaregular';
    src: url('comfortaa_regular-webfont.woff2') format('woff2'),
         url('comfortaa_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#preloadfont {
    font-family: 'comfortaaregular';
    src: url('comfortaa_regular-webfont.woff2') format('woff2'),
         url('comfortaa_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
    font-family: 'comfortaaregular';
}

.title {
	margin-top: 0;
	padding-top: 0;
    background: #ed3594;
}

body {
	margin: 0;
	padding: 0;
}
.graph {
    width: 25%;
    float: left;
    padding: 15px;
}
.firstG {
    padding: 15px;
}
.secondG {
    padding: 15px;
}
.circle {
	float:left;
	width: 46%;
	padding: 15px;
}

.text {
    width: 25%;
    float: left;
    padding: 15px;
}
.day {
    padding: 15px;
	color:#ed3594;
}
.sleep {
    padding: 15px;
	color:#c6da3f;
}
.time {
    padding: 15px;
	color:#61c8d6;
}


.line {
  fill: none;
  stroke: #000;
  stroke-width: 6px;
}

.dayField {
	font-size: 500%;
	text-align: right;
}

.timeField {
	font-size: 450%;
	text-align: right;
}

.sleepField {
	font-size: 500%;
	text-align: right;
}
.spacer {    
    line-height: 0.1em;
}
h1 {
	line-height: 0.1em;
	text-align: right;
}
