@font-face {
    font-family: 'comfortaaregular';
    src: url('comfortaa_regular-webfont.woff2') format('woff2'),
         url('comfortaa_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
    font-family: 'comfortaaregular';
}
.title	{
	width: 100%;
	padding: 15px;
	border: 1px solid red;
	background:black;
}

.graph {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.firstG {
    padding: 15px;
    border: 1px solid red;
}
.secondG {
    padding: 15px;
    border: 1px solid red;
}
.circle {
	float:left;
	width: 50%;
	padding: 15px;
	border: 1px solid red;
}

.text {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}
.day {
    padding: 15px;
    border: 1px solid red;
}
.sleep {
    padding: 15px;
    border: 1px solid red;
}
.time {
    padding: 15px;
    border: 1px solid red;
}


.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.dayField {
	font-size: 500%;
}

.timeField {
	font-size: 500%;
}

.sleepField {
	font-size: 500%;
}

